
/* Colors used */
* {
    -main : #027965;
    -second : black;
    -text : grey;
}

.root{
    -fx-background-color: -main; /* Set the background color of the root element */
}

.button{
    -fx-text-fill: -text; /* Set the text color of the button */
    -fx-background-color: -main; /* Set the background color of the button */
    -fx-border-color:  -second; /* Set the border color of the button */
    -fx-border-radius: 20px; /* Set the border radius of the button */
    -fx-background-radius: 20px; /* Set the background radius of the button */
    -fx-font-size: 12pt; /* Set the font size of the button text */
}

.button:hover, .button:focused{
    -fx-border-color:  -second; /* Change border color on hover or focus */
    -fx-background-color:  -second; /* Change background color on hover or focus */
    -fx-text-fill: -main; /* Change text color on hover or focus */
}

.text-field
{
    -fx-text-fill: -text; /* Set the text color of the text field */
    -fx-font-size : 12pt; /* Set the font size of the text field */
    -jfx-focus-color:  -second; /* Set the focus color of the text field */
}

/* TabPane styling */
.tab{
    -fx-background-color: -main; /* Set the background color of tabs */
    -fx-border-color: -main; /* Set the border color of tabs */
}

.tab-label{
    -fx-text-fill: -second; /* Set the text color of the tab label */
    -fx-font-size: 10pt; /* Set the font size of the tab label */
    -fx-border-color: -main; /* Set the border color of the tab label */
}

.tab-pane {
    -fx-background-color:-main; /* Set the background color of the tab pane */
    -fx-border-color: -main; /* Set the border color of the tab pane */
    -fx-border-width: 2px; /* Set the border width of the tab pane */
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: derive(-main, 40%); /* Set the background color of the selected tab */
    -fx-border-color: black; /* Set the border color of the selected tab */
    -fx-border-width: 2px; /* Set the border width of the selected tab */
}

.tab-pane .tab-content-area {
    -fx-background-color: white; /* Set the background color of the tab content area */
    -fx-border-color: -main; /* Set the border color of the tab content area */
}

.tab-main{
    -fx-pref-height : 60; /* Set the preferred height of the tab */
    -fx-max-height : 60; /* Set the maximum height of the tab */
}

.settings-tab{
    -fx-background-color: derive(-main, 10%); /* Set the background color of the settings tab */
    -fx-padding: 5px 20px 5px 20px; /* Set the padding of the settings tab */
}

.settings-tab:selected{
    -fx-background-color: -second; /* Set the background color of the selected settings tab */
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -main; /* Set the text color of the selected settings tab label */
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-main, -50%); /* Set the background color of the settings tab header background */
}

/* Menu bar styling */
.menu-bar{
    -fx-font-size: 14; /* Set the font size of the menu bar */
    -fx-base : -main; /* Set the base color of the menu bar */
    -fx-background-color: -main; /* Set the background color of the menu bar */
}

.context-menu {
    -fx-background-color:  derive(-main, 20%); /* Set the background color of the context menu */
    -fx-font-size: 14; /* Set the font size of the context menu */
    -fx-min-width: 150px; /* Set the minimum width of the context menu */
}

#myMenuButton {
    -fx-background-color: derive(-main, 10%); /* Background color */
    -fx-border-color: black; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-text-fill: -text; /* Text color */
    -fx-padding: 5px; /* Padding */
    -fx-font-size: 14px; /* Font size */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners for the border */
}

#myMenuButton:hover {
    -fx-background-color: black; /* Background color on hover */
    -fx-text-fill: -main; /* Text color on hover */
}

#myMenuButton:armed {
    -fx-background-color: black; /* Background color when armed */
    -fx-text-fill: -main; /* Text color when armed */
}

/* Style for the MenuItems inside the MenuButton */
.menu-button .menu-item {
    -fx-background-color: -main; /* Background color for menu items */
    -fx-text-fill: black; /* Text color for menu items */
}

/* Style for the MenuItems when they are hovered */
.menu-button .menu-item:hover {
    -fx-background-color:  -second; /* Background color for menu items on hover */
}

#AddMemberstyle.vbox {
    -fx-background-color: white; /* Background color for AddMemberstyle vbox */
}

/* Text styling */
.main-text
{
    -fx-fill:  -second; /* Fill color for main text */
    -fx-font-size: 14pt; /* Font size for main text */
    -fx-text-alignment: center; /* Text alignment for main text */
}

/* Custom window background */
.custom-pane{
    -fx-background-color: derive(-main, 5%); /* Background color for custom pane */
}

/* TableView default styling */
.table-view{
    -fx-background-color: white; /* Background color for table view */
    -fx-font-size: 16px; /* Font size for table view text */
    -fx-border-color: derive(darkgreen, -60%); /* Border color for table view */
}

.table-view:focused{
    -fx-background-color: derive(white, 20%); /* Background color for focused table view */
}

.table-row-cell {
    -fx-cell-size: 40px; /* Cell size for table row cell */
}

.table-view .column-header-background{
    -fx-background-color: -main; /* Background color for column header background */
}

.table-view .column-header-background .label{
    -fx-background-color: transparent; /* Background color for column header label */
    -fx-text-fill: black; /* Text color for column header label */
}

.table-view .column-header {
    -fx-background-color: transparent; /* Background color for column header */
}

.table-view .table-cell{
    -fx-text-fill: black; /* Text color for table cell */
}

.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -main; /* Text color for focused row and cell */
}

.table-row-cell{
    -fx-background-color: white; /* Background color for table row cell */
    -fx-border-color: lightgrey; /* Border color for table row cell */
    -fx-table-cell-border-color: lightgrey; /* Table cell border color for table row cell */
}

.table-column{
    -fx-alignment: CENTER; /* Alignment for table column */
}

.table-row-cell:even{
    -fx-background-color: derive(-main, 10%); /* Background color for even table row cell */
}

.table-row-cell:selected {
    -fx-background-color:  -second; /* Background color for selected table row cell */
    -fx-text-fill: -main; /* Text color for selected table row cell */
    -fx-background-insets: 0; /* Background insets for selected table row cell */
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: -main; /* Text color for selected table cell */
}

.placeholder .label{
    -fx-text-fill: black; /* Text color for placeholder label */
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent; /* Background color for scroll bar and track */
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: black; /* Text color for scroll bar buttons */
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-main, 60%); /* Background color for scroll bar thumb */
    -fx-border-color: transparent; /* Border color for scroll bar thumb */
    -fx-background-radius: 5em; /* Background radius for scroll bar thumb */
}

.table-view .filler {
    -fx-fill: -main; /* Fill color for table view filler */
    -fx-background-color: -main; /* Background color for table view filler */
}
